In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost.sklearn import XGBRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.linear_model import RANSACRegressor
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import BayesianRidge

In [ ]:
# Step 1: Read CSV File
agriculture_df = pd.read_csv("final_1.csv")
# print(df.columns)
agriculture_df

      Dist_Code  Year  State_Code  ... VERTIC_SOILS VERTISOLS  RICE_YIELD
0             1  2005          14  ...          0.0       0.0     1268.46
1             1  2006          14  ...          0.0       0.0     1505.81
2             1  2007          14  ...          0.0       0.0     1369.98
3             1  2008          14  ...          0.0       0.0      876.42
4             1  2009          14  ...          0.0       0.0      788.37
...         ...   ...         ...  ...          ...       ...         ...
3205        917  2011          15  ...          0.0       0.0     1913.67
3206        917  2012          15  ...          0.0       0.0     1960.28
3207        917  2013          15  ...          0.0       0.0     2170.67
3208        917  2014          15  ...          0.0       0.0     2288.57
3209        917  2015          15  ...          0.0       0.0     1005.70

[3210 rows x 28 columns]

In [ ]:
agriculture_df.shape
agriculture_df.columns

Index(['Dist_Code', 'Year', 'State_Code', 'State_Name', 'Dist_Name',
       'Rice_Area', 'RICE_PRODUCTION', 'ANNUAL_RAIN', 'avg_rain', 'Nitrogen',
       'POTASH', 'PHOSPHATE', 'DYSTROPEPTS', 'FLUVENTS', 'INCEPTISOLS',
       'LOAMY_ALFISOL', 'ORTHENTS', 'ORTHIDS', 'PSAMMENTS', 'SANDY_ALFISOL',
       'UDALFS', 'UDOLLS_UDALFS', 'UDUPTS_UDALFS', 'USTALF_USTOLLS', 'USTALFS',
       'VERTIC_SOILS', 'VERTISOLS', 'RICE_YIELD'],
      dtype='object')

In [ ]:
clean_df = agriculture_df.drop(['DYSTROPEPTS', 'FLUVENTS', 'INCEPTISOLS', 'LOAMY_ALFISOL', 'ORTHENTS', 'ORTHIDS', 'PSAMMENTS', 'SANDY_ALFISOL',
       'UDALFS', 'UDOLLS_UDALFS', 'UDUPTS_UDALFS', 'USTALF_USTOLLS', 'USTALFS','VERTIC_SOILS', 'VERTISOLS'], axis = 1)

In [ ]:
clean_df
clean_df.to_csv("clean_df.csv")

In [ ]:
# from google.colab import files
# files.download("clean_df.csv")

In [ ]:
clean_df.isna()
clean_df.isnull()
clean_df.describe()

         Dist_Code         Year  ...      PHOSPHATE   RICE_YIELD
count  3210.000000  3210.000000  ...    3210.000000  3210.000000
mean    280.930841  2009.997196  ...   20331.420249  1942.880327
std     281.939291     3.240874  ...   17544.594327  1089.145597
min       1.000000  2005.000000  ...       0.000000     0.000000
25%      81.000000  2007.000000  ...    7353.500000  1188.712500
50%     164.000000  2010.000000  ...   16735.000000  2026.375000
75%     602.000000  2013.000000  ...   28258.250000  2623.012500
max     917.000000  2015.000000  ...  138441.000000  5653.830000

[8 rows x 11 columns]

In [ ]:
# visualization

In [ ]:
# choosing feature(X) and target(y) variables
X = clean_df.drop(['Year','State_Name', 'Dist_Name','Dist_Code', 'State_Code', 'RICE_YIELD'], axis = 1)
y = clean_df['RICE_YIELD']

In [ ]:
# train and test splitting of data 
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
# preprocessing
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
X_train

array([[ 1.42849703,  0.75977403,  0.08028643, ...,  0.72678097,
         0.22184323,  0.20962831],
       [-0.74949321, -0.7531899 , -0.28480553, ...,  0.28937009,
         0.94199063,  1.16431523],
       [ 0.18876257,  0.21788252,  0.16934002, ..., -0.21081556,
        -0.38215444, -0.42852768],
       ...,
       [-0.8437053 , -0.76905129, -0.69303715, ...,  0.86888748,
         0.11296483,  1.00165028],
       [-0.26907195, -0.33343112, -0.50841048, ...,  0.19409881,
         3.22040036,  0.21524344],
       [-0.71023817, -0.62767182,  0.25284509, ..., -1.11358296,
        -0.79374925, -1.15942005]])

In [ ]:
model = LinearRegression()
model.fit(X_train,y_train)
predictions = model.predict(X_test)
print("\nUsing \"Linear Regression\" as Machine Learning Regression Algorithm:- ")
print("Test Set Score (model.score): {:.2f}".format(model.score(X_test,y_test)))

model = Pipeline([('poly', PolynomialFeatures(degree=2)), ('linear', LinearRegression())])
model.fit(X_train, y_train)
predictions = model.predict(X_test)
print("\nUsing \"Polynomial Regression\" as Machine Learning Regression Algorithm:- ")
print("Test Set Score (model.score): {:.2f}".format(model.score(X_test,y_test)))

model = RandomForestRegressor(n_estimators=100, max_depth=20, criterion='squared_error',)
model.fit(X_train,y_train)
predictions = model.predict(X_test)
print("\nUsing \"Random Forest\" as Machine Learning Regression Algorithm:- ")
print("Test Set Score (model.score): {:.2f}".format(model.score(X_test,y_test)))

model = DecisionTreeRegressor(max_depth=10)
model.fit(X_train,y_train)
predictions = model.predict(X_test)
print("\nUsing \"Decision Tree\" as Machine Learning Regression Algorithm:- ")
print("Test Set Score (model.score): {:.2f}".format(model.score(X_test,y_test)))

model = XGBRegressor(n_estimators=1000, max_depth=7, eta=0.1, subsample=0.7, colsample_bytree=0.8)
model.fit(X_train,y_train)
predictions = model.predict(X_test)
print("\nUsing \"XG Boost\" as Machine Learning Regression Algorithm:- ")
print("Test Set Score (model.score): {:.2f}".format(model.score(X_test,y_test)))

model = RANSACRegressor(LinearRegression(), max_trials=1000, min_samples=500, residual_threshold=5000)
model.fit(X_train,y_train)
predictions = model.predict(X_test)
print("\nUsing \"Robust Regression (RANSAC)\" as Machine Learning Regression Algorithm:- ")
print("Test Set Score (model.score): {:.2f}".format(model.score(X_test,y_test)))

model = ElasticNet()
model.fit(X_train,y_train)
predictions = model.predict(X_test)
print("\nUsing \"ElasticNet\" as Machine Learning Regression Algorithm:- ")
print("Test Set Score (model.score): {:.2f}".format(model.score(X_test,y_test)))

model = BayesianRidge()
model.fit(X_train,y_train)
predictions = model.predict(X_test)
print("\nUsing \"Bayesian Ridge\" as Machine Learning Regression Algorithm:- ")
print("Test Set Score (model.score): {:.2f}".format(model.score(X_test,y_test)))

Using "Linear Regression" as Machine Learning Regression Algorithm:-
Test Set Score (model.score): 0.47

Using "Polynomial Regression" as Machine Learning Regression Algorithm:-
Test Set Score (model.score): 0.67

Using "Random Forest" as Machine Learning Regression Algorithm:-
Test Set Score (model.score): 0.97

Using "Decision Tree" as Machine Learning Regression Algorithm:-
Test Set Score (model.score): 0.92
[15:03:30] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

Using "XG Boost" as Machine Learning Regression Algorithm:-
Test Set Score (model.score): 0.97

Using "Robust Regression (RANSAC)" as Machine Learning Regression Algorithm:-
Test Set Score (model.score): 0.47

Using "ElasticNet" as Machine Learning Regression Algorithm:-
Test Set Score (model.score): 0.34

Using "Bayesian Ridge" as Machine Learning Regression Algorithm:-
Test Set Score (model.score): 0.47